*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: rgb(156, 156, 192);
    width: auto;
    height: auto;
}
header{
    overflow: hidden;
    color: white;
    background-color: rgb(156, 156, 192);
    padding: 10px;  

    
}
.title{
    font-weight: bolder;
    font-size: 30px;
    display: inline-block;
   
}
.menu{
    display: inline-block;
    float: right;
}

li{
    display: inline;
}

li a{
    color: white;
    font-weight: bolder;
    list-style-type: none;
    font-size: 30px;
    padding: 50px;
    text-decoration: none;
    
    
}

li a:hover{
    background-color: white;
    color: rgb(156, 156, 192);
    
}

.container{
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url(./image/uliana-kopanytsia-HjZwhXuRf3Q-unsplash.jpg);
    background-position: center;
    background-size: cover;

  
  
}
.text-front{
    position: absolute;
    /* position: relative;
    margin: auto; */
    top: 50%;
    left: 50%;
    font-size: 200px;
    font-weight: bolder;
    transform: translate( -50%, -50%);
    
    

}

.text-front a{  
    text-decoration: none;
    color:rgb(156, 156, 192) ;

}




