*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: whitesmoke;
    width: auto;
    height: auto;
}

li{
    list-style-type: none;
}
header{
    overflow: hidden;
    color: rgb(156, 156, 192);
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;  

    
}

#title{
    display: inline-block;
    text-decoration: none;
    color: rgb(156, 156, 192);

}

.menu{
    display: inline-block;
    float: right;
}

.secoes{
    display: inline;
}

.secoes a{
    color: rgb(156, 156, 192);
    font-weight: bolder;
    font-size: 30px;
    padding: 50px;
    text-decoration: none;
    
    
}

.secoes a:hover{
    font-size: 32px;
    background-color: rgb(156, 156, 192);
    color: whitesmoke;
    
}

.container1{
    display: grid;
    grid-template: auto auto/ auto;

}
.box1{
    border: solid;   
    border-width: 1px;
    border-color: rgb(156, 156, 192);
    position: relative;
    margin-bottom: 100px;
    height: 500px;
    width: 100%;
    background-image: url(./image/uliana-kopanytsia-HjZwhXuRf3Q-unsplash.jpg);
    background-position: center;
    background-size: cover;
     
}
.box2{
    border: solid;   
    border-width: 1px;
    border-color: rgb(156, 156, 192);
    position: relative;
    margin-bottom: 100px;
    height: 500px;
    width: 100%;
    background-image: url(./image/uliana-kopanytsia-slCC8-LEJ_E-unsplash.jpg);
    background-position: center;
    background-size: cover;
    

}

.box1:hover, .box2:hover{
    background-size: 125%;
}

.text-front, .text-front2{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    font-weight: bolder;
    transform: translate( -50%, -50%);
}

.text-front a, .text-front2 a{  
    text-decoration: none;
    color:rgb(156, 156, 192) ;

}

#end{
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    justify-content: flex-start ;
    width: calc(100% - 6px);
    height: 15rem;
    background-color: whitesmoke;
    
    
}

#box-soci{ 
    margin-left: 10%;
    height: 15rem;
    line-height: 2;
    
}

.socimed{
    padding-right: 12px;
}

.socimed img{
    width: 25px;
    height: 25px;
}

button{
    border: none;
}

button:hover{
    cursor: pointer;
}

#box-sob{
    margin-left: 40%;
    height: 15rem;
    line-height: 2;
}

#box-sob a{
    color: black;
    text-decoration: none;
}

#box-sob a:hover{
    color: black;
    font-size: calc(100% + 5%);
}

.box-sus{
    margin-left: 40%;
    height: 15rem;
    line-height: 2;
}

.box-sus a{
    color: black;
    text-decoration: none;
}

.box-sus a:hover{
    color: black;
    font-size: calc(100% + 5%);  
}

p{
    text-align: center;
    margin-top: 100px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 20px;
}

.container3{
    display: grid;
    grid-template: auto/ auto auto auto;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
    
}

.nov{
    height: 100%;
    width: 400px; 
    border: solid;   
    border-width: 1px;
    border-color: rgb(156, 156, 192);
}

.n1{
    
    background-image: url(./image/max-anderson-8MmuV1Pnqh8-unsplash.jpg);
    background-size: cover;
}

.n2{
    ;
    background-image: url(./image/max-libertine-Yz01FTxAIA8-unsplash.jpg);
    background-size: cover;
}

.n3{
    
    background-image: url(./image/timofey-urov-WU_y9Iz5x4o-unsplash.jpg);
    background-size: cover;
}

.novidades{
    width: 50%;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 24%;
    border: solid;
    border-width: 1px;
    border-color: rgb(156, 156, 192);
}

.adici{
    display: grid;
    grid-template: auto/ auto auto auto;
    justify-content: space-evenly;
    height: 200px;
}

.add{
    
    width: 100%;
    height: 200px;
}

.ad1{
    background-image: url(./image/streamline-icon-shipping-transfer-truck_48x48.svg);
    background-repeat: no-repeat;
    background-position: 20px 40px;
    
}

.ad2{
    background-image: url(./image/streamline-icon-money-atm-card-1_48x48.svg);
    background-repeat: no-repeat;
    background-position: 20px 40px;
}

.ad3{
    background-image: url(./image/streamline-icon-shield-check_48x48.svg);
    background-repeat: no-repeat;
    background-position: 40px 40px;
    
}








